 .logout {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto; /* Gör att knappen inte blir 200px bred som de andra */
    padding: 5px 10px;
    background: none; /* Gör den diskret som på bilden */
    border: none;
    font-size: 0.9rem;
    color: #555;
    cursor: pointer;
    margin: 0;
}

.logout:hover {
    text-decoration: underline; /* Ger en visuell feedback vid hover */
}




body {
    text-align: center;
    background-color:  #F9F8EB; 
    font-family: 'Segoe UI', Arial, sans-serif;
    padding-top: 50px;
}

h1 {
    background-color: #7989c4;
    color: black;
    display: inline-block;
    padding: 15px 60px;
    border: 3px solid #0095ff; 
    border-radius: 10px;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.btn {
    display: block;
    margin: 15px auto;
    padding: 12px;
    width: 250px;
    background-color: #dbdbdb;
    border: none;
    font-size: 1.1rem;
    color: #444;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #cccccc; 
}