*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: #F9F8EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p{
    color:#363434;
}
 
.btn{
    color: #4E4E4E;
    font-size: medium;
    position: fixed;
    top: 20px;
    left: 20px;
}

.titel{
    background-color:#6F82C1;
    padding: 30px 42px;
    margin-top: 2vh;
    border-radius: 8px;
}

h1{
    color: #363434;
}

#provDetaljer{
    background-color:#D9D9D9;
    padding: 10px 10px;
    margin-top: 2vh;
    border-radius: 8px;
}

#provTitel{
    background-color: #F8F7F7;
    padding: 10px 10px;
}

#provTitel p{
    padding-bottom: 5px;
    font-size: x-large;
    display: inline;
    margin-right: 20px;
}

#otherDetails{
    background-color: #F8F7F7;
    padding: 10px 10px;
    margin-top: 10px;
}

#otherDetails p{
    margin-bottom: 5px;
    font-size: large;
}

.input_subject{
    margin-bottom: 10px;
}

.input_kurs{
    margin-bottom: 5px;
}

.input_date{
    margin-bottom: 10px;
}

#dropfile {
  border: 2px dashed #363434;
  padding: 35px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  background-color: #6F82C1;
}

.saveBtn {
    display: block;
    margin: 20px auto;  
    padding: 10px 20px;  
    font-size: medium;
    background-color: #6F82C1;
    color: #F8F7F7;
    border: none;
    border-radius: 8px;
}