body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(250, 239, 220);
}

.back {
    display: inline-block;
    margin: 20px;
    color: blue;
    text-decoration: none;
    font-size: 18px;
}

.login-box {
    width: 500px;
    background-color: rgb(226, 226, 226);
    padding: 40px;
    margin: 80px auto;
    border-radius: 8px;
}

.login-box h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #363434;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
}

.forgot {
    color: blue;
    text-decoration: underline
}

.btn {
    width: 100%;
    padding: 18px 150px;
    background-color: blue;
    border: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    margin-left: 50px;
}

.btn:hover {
    background-color: blue;
}